<!DOCTYPE html>
<html>
  <head>
    <title>TellTales</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans|Roboto" rel="stylesheet">
    <link rel="icon" href="http://res.cloudinary.com/llventioll/image/upload/v1500606857/telltails_eogo4d.png"> 
    <script type="text/javascript">
      <% if signed_in? %>
      	window.currentUser =
          <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
