<!DOCTYPE html>
<html>
  <head>
    <title>TellTales</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans|Roboto" rel="stylesheet">
    <link rel="icon" href="http://res.cloudinary.com/llventioll/image/upload/v1500651465/Screen_Shot_2017-07-21_at_8.32.00_AM_ouxoye.png">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
      integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
      crossorigin="anonymous">
    <script src="https://use.fontawesome.com/a514a96c29.js"></script>
    <script type="text/javascript">
      <% if signed_in? %>
      	window.currentUser =
          <%= render("api/users/bootstrap.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
